body{
    background-color:#444D56;
    background-secondary-color:#444d56;
    text-color:#fff;
    color:#ccc;
}

input{
color:white
}

.index-head-title{
    border-bottom:1px solid #000;
}

.module-list .title{
    color:#ccc;
}

.index-bottom{
background-color:#2F363D
}

#chatRoomInput{
    background-color: #444D56;
}
#breezemoonInput{
    background-color: #444D56;
}

.index-chat{
    border-bottom:1px solid #000;
}

.module-header{
    border-bottom:1px solid #000;
}

.ft-gray{
    color:#ccc;
}

button,.btn{
    border: 1px solid #333333;
    color:#eee;
}

button:hover, .btn:hover{
    background-color: #2F363D;
}

.vditor-reset {
    color:#ccc;
}

.count{
     background-color: #2F363D;
}

#userCard{
background-color:#24292e;
}

#userCardContent{
background-color:#24292e;
}

.user-card__name{
color:#eee !important;
}

.user-card-bottom-bg{
   background-color: rgba(36, 41, 46, 0.68) !important;
}



 .metro-item .preview:hover{
//background-color: rgba(255,255,255,0.2) !important;
color:#fff !important;
}

 .tag-metro-item .preview:hover{
 color:#fff !important;
 }

.article-list ul>li{
 background-color:#2f363d;
 }

.ft-fade{
  color:rgba(255,255,255,0.38)
}

.list>ul>li {
  border-bottom: 1px solid #000;
}

.pagination{
  border-top: 1px solid #000;
}

.pagination, .tabs-sub{
  background-color: rgba(0,0,0,0);
}

.module-header h2 {
  color:#eee;
}
