.ft-a-title{
  color:#ccc !important;
}

.ft-a-title:hover{
  color:#ccc !important;
}

.article-level0{
  color:rgba(255,255,255,0.38) !important;
}

.tag-desc>li>a{
  background-color: #2F363D;
  color:#ccc;
  --text-color:#ccc;
}

.tag-desc>li>a:hover{
  color:#fff;
}

.tag-desc>li>div {
  background-color: #2F363D;
}

#breezemoonInput{
  background-color: #2F363D;
}

.verify {
  background-color: #444D56;
}

input{
  background-color: #444D56 !important;
}


.verify .intro{
  background-color: #616161;
  color:#eee;
}

.pre-post-wrap{

}