.ft-a-title{
  color:#ccc !important;
}

.ft-a-title:hover{
  color:#ccc !important;
}

.article-level0{
  color:rgba(255,255,255,0.38) !important;
}

.tag-desc>li>a{
  background-color: #2F363D;
  color:#ccc;
  --text-color:#ccc;
}

.tag-desc>li>a:hover{
  color:#fff;
}

.tag-desc>li>div {
  background-color: #2F363D;
}

#sp2{
  color:#ccc;
}

#breezemoonInput{
  background-color: #2F363D !important;
}

.verify {
  background-color: #444D56;
}

input{
  background-color: #444D56 !important;
}


.article-list {
  background-color:#2f363d;
  }

.verify .intro{
  background-color: #616161;
  color:#eee;
}

.pre-post-wrap{

}

.pagination a, .pagination span, .tabs-sub a{

  color:#999999;
}

.article-list ul>li>h2>a:visited, .article-list .abstract:visited{
  color:#aaa ;
}

.article-list .author{
  color:#999;
}

.list{
  background-color: #2F363D;
}

.top-ranking{
  border-top:1px solid #000 !important;
}

#nameOrEmail{
  background-color: #2F363D !important;
}

#loginPassword{
  background-color: #2F363D !important;
}

#registerUserName{
  background-color: #2F363D !important;
}

#registerUserEmail{
  background-color: #2F363D !important;
}

#registerCaptcha{
  background-color: #2F363D !important;
}

.old-almanac .good .title{
  background: #b7ab2f;
}

.old-almanac .good{
  background: #b9b979;
}

.old-almanac .bad .title{
  background: #c73434;
}

.old-almanac .bad {
  background: #d0b5ad;
}