html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    overflow:hidden;
}

div, input {
    /* background: black;
    color: white; */
    border: none;
    font-family: "PingFang SC", Helvetica, sans-serif, Arial;
    font-size: 12px;
}

input:focus  {
    outline: none;
}

#terminal {
    position: absolute;
    width: 960px;
    height: 600px;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-family: Consolas;
    font-size: 15px
}

#content {
    width: 1100px;
    height: calc(100vh - 120px);;
    overflow-y: auto;
    word-wrap:break-word;
}

#content::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

#prefix {
    float: left;
    height: 32px;
    line-height: 32px;
    color:#2877d2;
    padding-right:5px;
    font-weight: bolder;
}

#input {
    float: left;
    height: 1.3em;
    width: 421px;
}
